/* Basic styles */
body {
    font-family: 'Consolas', sans-serif;
    margin: 0;
    padding-top: 80px; /* Space for the fixed navbar */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #0b1522;
    color: white;
}

/* Navbar */
.navbar {
    background-color: #ea4c4c;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline;
    margin: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
    padding: 8px 15px;
    border-radius: 5px;
}

.navbar a:hover {
    color: #ffffff85;
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

.navbar a.active {
    border-bottom: 2px solid #fff;
}

/* Heading */
.heading {     
    text-align: center;
    font-size: 32px;
    letter-spacing: 1px;
    padding: 30px; /* Adjust padding to avoid extra spacing */
    color: white;
    margin-top: -10px;
    margin-bottom: -9px;
    font-weight: bold;
}

/* Map Container */
.map {
    width: 100%; /* Ensure container fills available width */
    text-align: center;
}

#map {
    height: 450px;
    width: 60vw;
    max-width: 10000px;
    margin: 0 auto; /* Center the map horizontally */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

@media (max-width: 600px) {
    #map {
        height: 260px;
        width: 90vw;
    }
}

/* Timeline container */
.timeline {
    display: flex;
    overflow-x: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: #ea4c4c;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    max-width: 100%;
    position: fixed;
    bottom: 0;
}

/* Timeline items */
.timeline-item {
    cursor: pointer;
    padding: 10px;
    background-color: #ea4c4c;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.timeline-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
